
/*Подзаголовок на картинке с Байкалом*/
.cover__subtitle {
    width: 382px;
    font-family: "Inter Regular";
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 auto 48px 401px;
}

/*Изменим размеры шрифта, отступы и ширину в разных разрешениях экранов*/
@media screen and (max-width: 1279px) {
    .cover__subtitle {
        margin: 0 auto 48px 316px;
        width: 413px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        margin: 0 auto 40px 193px;
        width: 382px;
    }
}
  
@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        height: 57px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto 24px 16px;
    }
}

@media screen and (max-width: 374px) {
    .cover__subtitle {
        width: 288px;
    }
}