
/*Насйтроки для заголовка видео*/
.video__title {
    width: 322px;
    font-family: "Inter Black";
    color: #FFFFFF;
    font-size: 36px;
    line-height: 39px;
    margin: 0 auto 18px 30px;
}

/*Изменим ширину и отступы в разных разрешениях экранов*/
@media screen and (max-width: 1023px) {
    .video__title {
        margin: 0 auto 12px 24px;
        width: 288px;
        font-size: 24px;
        line-height: 26px;
    }
}
  
@media screen and (max-width: 767px) {
    .video__title {
        width: 295px;
        margin: 0 auto 2px 24px;
    }
}

@media screen and (max-width: 374px) {
    .video__title {
        width: 256px;
        margin: 0 auto 2px 16px;
    }
} 