
/*Уникальные настройки для блока footer*/
.page__footer {
    margin-top: 160px;
    padding-bottom: 48px;
}

/*Изменим отступы в разных разрешениях экранов*/
@media screen and (max-width: 1023px) {
    .page__footer {
        margin-top: 102px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 767px) {
    .page__footer {
        margin-top: 64px;
    }
}