
/*Уникальные настройки блока photo-grid*/
.page__photo-grid {
    margin-top: 102px;
}

/*Изменим внешний отступ на разных разрешениях экранов*/
@media screen and (max-width: 1024px) {
    .page__photo-grid {
        margin-top: 97px;
    }
}

@media screen and (max-width: 768px) {
    .page__photo-grid {
        margin-top: 64px;
    }
}